.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

scripts/*
*.secret.auto.tfvars
envs/secret.tfvars
envs/*.secret.tfvars
.env
tfplan
theme56.zip
